/* 主內容 */
/* 內容h3標題文字 */
.plan-h3 {
    margin-top: 15px;
    font-size: 20px;
    color: MediumVioletRed;
}

/* 內容h3標題下方線條 */
.plan-intro-line {
    width: 40px;
    height: 6px;
    border-radius: 3px;
    margin: 25px auto;
    transition: all .5s ease;    
    background-color: LightCoral;
}

/* 內容h3標題下方線條hover特效增加寬度 */
.intro-box:hover .plan-intro-line {
    width: 45px;
}

/* p段落文字顏色 */
.plan-intro-p {
    color: PaleVioletRed;
}
/* 主內容結束 */