.dress-img-1 {
    display: block;
    margin: 0 auto;
    width: 350px;
    height: 440px;
}

.dress-col {
    border: 10px solid;
    padding: 0px;
    border-color: white;
}

.rent-img {
    max-width: 300px;
    height: 280px;
}

.rent {
    text-align: center;
    margin-bottom: 25px;
    font-size: 17px;
}

.rent-a {
    color: LightCoral;
}

.rent-a:hover {
    text-decoration: none;
    color: IndianRed;
}