/* header */
/* header區塊樣式設定 */
#header {
    height: 320px;
    background-image: url("../img/header背景圖.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
/* RWD響應式網頁設計 */
/* 767px以下更改區塊高度、背景圖片以及文字置左 */
@media(max-width:767px) {
    #header {
        height: 310px;
        background-image: url("../img/header背景圖-mobile.jpg");
        text-align: left;
    }
}

/* header分頁大標題區塊樣式設定 */
.title {
    padding-top: 110px;
    padding-bottom: 0;
    margin-left: 10px;
    margin-right: 0;
    color: black;
}
/* RWD響應式網頁設計 */
/* 767px以下增加margin-left */
@media(max-width:767px) {
    .title {
        margin-left: 35px;
    }
}

/* header分頁大標題文字大小 */
.header-h1 {
    font-size: 40px;
}
/* header end */

/* 主內容 */
/* 關於我們區塊icon */
.about-us-icon {
    max-width: 130px;
    padding-top: 60px;
    padding-bottom: 30px;
}

/* 關於我們區塊內文標題 */
.about-us-title {
    text-align: center;
    font-size: 25px;
    color: FireBrick;
    margin-bottom: 15px;
}

/* 關於我們區塊內文 */
.about-us {
    text-align: center;
    color: LightCoral;
}

/* 關於我們店內環境圖片 */
.about-us-img-box {
    margin-bottom: 15px;
    padding: 15px 15px;
    text-align: center;
}

/* 關於我們結語內文 */
.about-us-last {
    margin-top: 6px;
    text-align: center;
    color: RosyBrown;
}
/* 主內容結束 */